/// Toggle padding class generation.
///
/// By default uses global setting.
/// @group 80-utilities
$LOOM-use-scaffolding-classes-padding: $LOOM-use-scaffolding-classes !default;

@if $LOOM-use-scaffolding-classes-padding {
  // Paddings for each spacing unit and position.
  // Paddings for each breakpoint

  .u-padding-none {
    padding: 0;
  }

  @each $position in (left, top, right, bottom) {
    .u-padding-#{$position}-none {
      padding-#{$position}: 0;
    }
  }

  @each $key, $value in $LOOM-spacing {
    .u-padding-#{$key} {
      padding: $value;
    }

    @each $position in (left, top, right, bottom) {
      .u-padding-#{$position}-#{$key} {
        padding-#{$position}: $value;
      }
    }
  }
}
