/// Toggle text-transform class generation.
///
/// By default uses global setting.
/// @group 80-utilities
$LOOM-use-utility-classes-text-transform: $LOOM-use-utility-classes !default;

@if $LOOM-use-utility-classes-text-transform {
  .u-text-transform-uppercase {
    text-transform: uppercase;
  }

  .u-text-transform-lowercase {
    text-transform: lowercase;
  }

  .u-text-transform-capitalize {
    text-transform: capitalize;
  }
}
