/// Toggle white-space class generation.
///
/// By default uses global setting.
/// @group 80-utilities
$LOOM-use-utility-classes-white-space: $LOOM-use-utility-classes !default;

@if $LOOM-use-utility-classes-white-space {
  .u-white-space-normal {
    white-space: normal;
  }

  .u-white-space-nowrap {
    white-space: nowrap;
  }

  .u-white-space-pre {
    white-space: pre;
  }

  .u-white-space-pre-wrap {
    white-space: pre-wrap;
  }

  .u-white-space-pre-line {
    white-space: pre-line;
  }
}
