$LOOM-use-object-classes-hide-visually: $LOOM-use-object-classes !default;

@mixin hide-visually() {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Classes
@if $LOOM-use-object-classes-hide-visually {
  .o-hide-visually {
    @include hide-visually();
  }
}
