/// Toggle list-reset class generation.
///
/// By default uses global setting.
/// @group 60-objects
$LOOM-use-object-classes-list-reset: $LOOM-use-object-classes !default;

// LIST-RESET

// Mixin
// NOTE: Removes all padding, margin and list-style-type from a list.
@mixin list-reset($list-reset-spacing: true) {
  @if $list-reset-spacing {
    margin: 0;
    padding: 0;
  }

  list-style-type: none;
}

// Classes
@if $LOOM-use-object-classes-list-reset {
  .o-list-reset {
    @include list-reset();
  }
}
