/// Toggle font-weight class generation.
///
/// By default uses global setting.
/// @group 80-utilities
$LOOM-use-scaffolding-classes-font-weight: $LOOM-use-scaffolding-classes !default;

@if $LOOM-use-scaffolding-classes-font-weight {
  .u-font-weight-bold {
    font-weight: $LOOM-font-weight-bold;
  }

  .u-font-weight-normal {
    font-weight: $LOOM-font-weight-normal;
  }
}
