/// Definition map of breakpoint sizes.
///
/// Name your breakpoints in a way that creates a ubiquitous language
/// across team members. It will improve communication between
/// stakeholders, designers, developers, and testers.
///
/// @group 10-global-settings
/// @type map
$LOOM-mq-breakpoints: (
  small:      320px,
  medium:     740px,
  large:      980px,
  xlarge:     1300px
) !default;

/// Customize the media type (e.g. `@media screen` or `@media print`)
/// By default sass-mq uses an "all" media type (`@media all and …`)
///
/// @group 10-global-settings
/// @type String
/// @link https://github.com/sass-mq/sass-mq#changing-media-type Full documentation and examples
$LOOM-mq-media-type: all !default;
