/// Definition map of breakpoint sizes.
///
/// Name your breakpoints in a way that creates a ubiquitous language
/// across team members. It will improve communication between
/// stakeholders, designers, developers, and testers.
///
/// @group 010-global-settings
/// @type map
$LOOM-mq-breakpoints: (
  small:      320px,
  medium:     740px,
  large:      980px,
  xlarge:     1300px
) !default;

/// Customize the media type (e.g. `@media screen` or `@media print`)
///
/// @group 010-global-settings
/// @type String
$LOOM-mq-media-type: all !default;
