/// The central, default, global color list.
///
/// Retrieve theme colours defined here with get-color(name).
///
/// @group 010-global-settings
/// @type map
/// @example scss - Using a colour map
///   $LOOM-colors-map-default: (
///     'brand-primary': #ed3d68,
///     'brand-secondary': #30bbba,
///     'white': #fff,
///     'black': #000,
///     'meta': #e4e4e4
///   )
$LOOM-colors-map-default: (
  'black': #000,
  'white': #fff
) !default;

/// Use your own colour map as the default global color list for use by the get-color() function.
///
/// @group 010-global-settings
$LOOM-colors: $LOOM-colors-map-default !default;

// LOOM COLORS
//
// Okay, okay, so you should always use get-color() when building your own
// system. However, Loom needs some "safe" colour variables to work with, as
// the colours defined in $LOOM-colors could be overridden by the end-user.
// These colours are used as to provide "default" defaults for several objects
// and mixins.
// The end goal is to remove all references to colours in Loom, except for
// _maybe_ black and white.

/// Default color - black
///
/// Provide a default colour for some Loom objects.
///
/// @access private
/// @group 010-global-settings
$LOOM-color-black: #000 !default;

/// Default color - white
///
/// Provide a default colour for some Loom objects.
///
/// @access private
/// @group 010-global-settings
$LOOM-color-white: #fff !default;

/// Default color - medium gray
///
/// Provide a default colour for some Loom objects.
///
/// @access private
/// @group 010-global-settings
$LOOM-color-medium-gray: #999595 !default;

/// Default color - dark gray
///
/// Provide a default colour for some Loom objects.
///
/// @access private
/// @group 010-global-settings
$LOOM-color-dark-gray: #444 !default;

/// Default color - light gray
///
/// Provide a default colour for some Loom objects.
///
/// @access private
/// @group 010-global-settings
$LOOM-color-light-gray: #e5e5e5 !default;
