/// Global list of sizing units.
///
/// @group 010-global-settings
$LOOM-spacing-map-default: (
  'xsmall':     0.5rem,
  'small':      1rem,
  'default':    2rem,
  'large':      3rem,
  'xlarge':     4rem
) !default;

/// Change this to your own map os spacing units if you wish.
/// Whatever is defined here will be used by many functions as a default
/// source of data.
/// @group 010-global-settings
$LOOM-spacing: $LOOM-spacing-map-default !default;

/// The default value for the global spacing list.
///
/// Used by many functions as a default value.
/// @group 010-global-settings
$LOOM-spacing-default: default !default;
