/// The default global font stack for your site.
/// Each font stack is REQUIRED to have a default and a webfont value.
///
/// Fonts are called using get-font-family().
///
/// @group 10-global-settings
/// @type map
/// @example scss - Get fonts example
///   .class {
///     font-family: get-font-family(primary);
///   }
$LOOM-font-family-map-default: (
  'primary': (
    'default': sans-serif,
    'webfont': sans-serif
  ),
  'secondary': (
    'default': serif,
    'webfont': serif
  )
) !default;

/// Tell loom which font is used for base body text by default. It should
/// match one of the values in $LOOM-fonts.
/// @group 10-global-settings
/// @require $LOOM-fonts
$LOOM-font-family-body: primary !default;

/// Tell loom which font is used for headings by default. It should match one
/// of the values in $LOOM-fonts.
/// @group 10-global-settings
/// @require $LOOM-fonts
$LOOM-font-family-header: secondary !default;

/// Use your own font map as the default global font list for use by the
/// get-font-family() function.
///
/// @group 10-global-settings
$LOOM-fonts: $LOOM-font-family-map-default !default;

/// The classname name to use to place loaded webfonts behind.
///
/// If set to 'false' webfont strategies in Loom will be disabled.
///
/// @group 10-global-settings
/// @type string | boolean
/// @link https://fontfaceobserver.com/ See examples of how to use with Fontfaceobserver
$LOOM-fonts-loaded: 'fonts-loaded' !default;

/// Set the default line-height.
///
/// @group 10-global-settings
/// @type number
$LOOM-line-height: 1.5 !default;

/// Defines the font sizes to be used in your site.
/// Each font size has a smaller-viewport and a larger-viewport version,
/// as generally fonts need to be slightly large on mobile devices.
///
/// There should always ideally be an "default" font that defines the base size
/// for the site.
///
/// Fonts are called using get-font-size().
///
/// @group 10-global-settings
/// @type map
$LOOM-font-sizes: (
  'default': (
    'smaller-viewport': ('font-size': 18px, 'line-height': 1.5),
    'larger-viewport': ('font-size': 16px, 'line-height': 1.5)
  ),
  'alpha': (
    'smaller-viewport': ('font-size': 36px, 'line-height': 1.5),
    'larger-viewport': ('font-size': 32px, 'line-height': 1.5)
  ),
  'beta': (
    'smaller-viewport': ('font-size': 30px, 'line-height': 1.5),
    'larger-viewport': ('font-size': 28px, 'line-height': 1.5)
  ),
  'gamma': (
    'smaller-viewport': ('font-size': 26px, 'line-height': 1.5),
    'larger-viewport': ('font-size': 24px, 'line-height': 1.5)
  ),
  'delta': (
    'smaller-viewport': ('font-size': 24px, 'line-height': 1.5),
    'larger-viewport': ('font-size': 22px, 'line-height': 1.5)
  ),
  'epsilon': (
    'smaller-viewport': ('font-size': 22px, 'line-height': 1.5),
    'larger-viewport': ('font-size': 20px, 'line-height': 1.5)
  ),
  'zeta': (
    'smaller-viewport': ('font-size': 20px, 'line-height': 1.5),
    'larger-viewport': ('font-size': 18px, 'line-height': 1.5)
  ),
  'sub': (
    'smaller-viewport': ('font-size': 14px, 'line-height': 1.5),
    'larger-viewport': ('font-size': 12px, 'line-height': 1.5)
  )
) !default;

/// Tell loom which font size is the default size.
/// @group 10-global-settings
/// @require $LOOM-font-sizes
$LOOM-font-size-base: default !default;

/// Base HTML headings receive the following sizes.
///
/// @group 10-global-settings
/// @type map
$LOOM-h-element-sizes: (
  'h1': 'alpha',
  'h2': 'beta',
  'h3': 'gamma',
  'h4': 'delta',
  'h5': 'epsilon',
  'h6': 'zeta'
) !default;

/// If set to TRUE, base headings will receive default sizes and will appear
/// as "traditional" headings. If FALSE, base headings will receive the same
/// sizing and styling as the body text.
///
/// @group 10-global-settings
/// @type boolean
$LOOM-generate-sizes-for-default-headings: true !default;

/// If this list is defined, the following sizes will be generated as object
/// classes (`.o-alpha {}`).
///
/// Objects be also consumed directly with '@include font-size($name)';
///
/// @group 10-global-settings
/// @type list
$LOOM-h-object-sizes: (
  'alpha',
  'beta',
  'gamma',
  'delta',
  'epsilon',
  'zeta'
) !default;

/// At what breakpoint does the typography switch from fonts sizes appropiate
/// for smaller devices to font sizes appropiate for larger devices?
///
/// Must match one of the breakpoints in $LOOM-mq-breakpoints.
///
/// @group 10-global-settings
/// @type string
/// @see $LOOM-mq-breakpoints
$LOOM-typography-breakpoint: medium !default;

/// The default vertical spacing value in typography.
///
/// Intended to be overridden by user choices.
/// @group 10-global-settings
$LOOM-typography-vertical-spacing: 0.5rem !default;

/// Set the default bold weight value
///
/// @group 10-global-settings
/// @type string
$LOOM-font-weight-bold: bold !default;

/// Set the default normal weight value
///
/// @group 10-global-settings
/// @type string
$LOOM-font-weight-normal: normal !default;

/// Set the default italic style value
///
/// @group 10-global-settings
/// @type string
$LOOM-font-style-italic: italic !default;

/// Set the default normal style value
///
/// @group 10-global-settings
/// @type string
$LOOM-font-style-normal: normal !default;
