@if $LOOM-use-utility-classes {
  .u-display-block {
    display: block;
  }

  .u-display-inline {
    display: inline;
  }

  .u-display-inline-block {
    display: inline-block;
  }

  .u-display-none {
    display: none;
  }

  @each $key, $value in $LOOM-display-none-breakpoints {
    @include mq($key) {
      .u-display-none\@#{$key} {
        display: none;
      }
    }
  }
}
