@if $LOOM-use-utility-classes {
  .u-text-transform-uppercase {
    text-transform: uppercase;
  }

  .u-text-transform-lowercase {
    text-transform: lowercase;
  }

  .u-text-transform-capitalize {
    text-transform: capitalize;
  }
}
