@if $LOOM-use-utility-classes {

  .u-white-space-normal {
    white-space: normal;
  }

  .u-white-space-nowrap {
    white-space: nowrap;
  }

  .u-white-space-pre {
    white-space: pre;
  }

  .u-white-space-pre-wrap {
    white-space: pre-wrap;
  }

  .u-white-space-pre-line {
    white-space: pre-line;
  }

}
