/// Default color for the html root
/// @group 40-base-elements
$LOOM-html-color: $LOOM-color-black !default;

/// Default background color for the html root
/// @group 40-base-elements
$LOOM-html-background-color: $LOOM-color-white !default;

/// Default color for links
/// @group 40-base-elements
$LOOM-a-color: $LOOM-color-medium-gray !default;

/// Default color for links (visited)
/// @group 40-base-elements
$LOOM-a-color-visited: $LOOM-color-dark-gray !default;

/// Default color for links (hover)
/// @group 40-base-elements
$LOOM-a-color-hover: $LOOM-color-black !default;

html {
  @include font-size(default, small);

  background: $LOOM-html-background-color;
  color: $LOOM-html-color;
  font-family: $LOOM-font-family-primary-default;
  line-height: $LOOM-line-height;

  .#{$LOOM-fonts-loaded} & { // NOTE: make use of a font loading system here
    font-family: $LOOM-font-family-primary-webfont;
  }
}

// NOTE: At $LOOM-typography-breakpoint larger fonts will be used. This is because you typically want small fonts on mobile, larger on desktop.
@include mq($from: $LOOM-typography-breakpoint) {
  html {
    @include font-size(default, large);
  }
}

a {
  color: $LOOM-a-color;
  transition: get-transition(color);

  &:visited {
    color: $LOOM-a-color-visited;
  }

  &:hover,
  &:focus {
    color: $LOOM-a-color-hover;
  }
}

p {
  margin: 0 0 get-spacing(small);
}

@if ($LOOM-generate-sizes-for-default-headings) {
  // NOTE: Make all headings use a sizing heirarchy.
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include generic-heading;
  }

  // NOTE: Give each base element heading a value as described in $LOOM-h-element-sizes.
  @each $name, $value in $LOOM-h-element-sizes {
    #{$name} {
      @include font-size($value, small);
    }
  }

  // NOTE: At $LOOM-typography-breakpoint larger fonts will be used. This is because you typically want small fonts on mobile, larger on desktop.
  @include mq($from: $LOOM-typography-breakpoint) {
    @each $name, $value in $LOOM-h-element-sizes {
      #{$name} {
        @include font-size($value, large);
      }
    }
  }
} @else { // stylelint-disable-line
  // NOTE: Just give each HTML heading the same size.
  // NOTE: We make this the same because so that semantic values do not interfere with designs. Size must be imparted conciously.
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include generic-heading($margin-size: 0, $font-weight: $LOOM-font-weight-normal);
    @include font-size(default, small);
  }

  // NOTE: At $LOOM-typography-breakpoint larger fonts will be used. This is because you typically want small fonts on mobile, larger on desktop.
  @include mq($from: $LOOM-typography-breakpoint) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include font-size(default, large);
    }
  }
}
