/// TODO Fix this
/// @group 100-utilities
$LOOM-use-utility-classes-show: $LOOM-use-utility-classes !default;


// Classes
@if $LOOM-use-utility-classes-show {
  .u-show {
    display: block;
  }

  .u-show-inline {
    display: inline;
  }

  .u-show-inline-block {
    display: inline-block;
  }
}
