/// Default color for inputs
/// @group 050-base-elements
$LOOM-input-color: $LOOM-color-black !default;

/// Default color for inputs (placeholder text)
/// @group 050-base-elements
$LOOM-input-placeholder-color: lighter($LOOM-color-black, 50%) !default;

/// Default color for borders
/// @group 050-base-elements
$LOOM-input-border-color: $LOOM-color-black !default;

/// Default padding for texty inputs
/// @group 050-base-elements
$LOOM-input-padding: get-spacing(xsmall);

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=date],
input[type=datetime],
input[type=month],
input[type=password],
input[type=search],
input[type=week],
input[type=time] {
  border: $LOOM-border-width $LOOM-border-style $LOOM-input-border-color;
  border-radius: $LOOM-border-radius;
  color: $LOOM-input-color;
  padding: $LOOM-input-padding;
}

input {
  &::placeholder {
    color: $LOOM-input-placeholder-color;
  }
}

textarea {
  border: $LOOM-border-width $LOOM-border-style $LOOM-input-border-color;
  color: $LOOM-input-color;
  padding: $LOOM-input-padding;
}

label {
  font-weight: $LOOM-font-weight-bold;
}
