html {
  @include font-size($size-name: default, $rems: false);
  line-height: 1.5;
}

body {
  @include font-family('primary');
  @include font-size('default');
}

strong {
  font-weight: $LOOM-font-weight-bold;
}

em {
  font-weight: $LOOM-font-style-italic;
}

dt {
  font-weight: $LOOM-font-weight-bold;
}


// Vertical rhythm for all block elements
address,
blockquote,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
noscript,
ol,
pre,
table,
ul,
p {
  @include basic-vertical-rhythm;
}
