@mixin media() {
  @include clearfix();

  display: block;
}

@mixin media__primary($spacing: get-spacing(xsmall)) {
  float: left;
  margin-right: $spacing;
}

@mixin media__secondary() {
  display: block;
  overflow: hidden;
}
