/// Toggle display class generation.
///
/// By default uses global setting.
/// @group 090-scaffolding
$LOOM-use-scaffolding-classes-display: $LOOM-use-scaffolding-classes !default;

@if $LOOM-use-scaffolding-classes-display {
  .s-display-block {
    display: block;
  }

  .s-display-inline {
    display: inline;
  }

  .s-display-inline-block {
    display: inline-block;
  }

  .s-display-none {
    display: none;
  }

  @each $key, $value in $LOOM-display-none-breakpoints {
    @include mq($key) {
      .s-display-none\@#{$key} {
        display: none;
      }
    }
  }
}
