/// Toggle font-style class generation.
///
/// By default uses global setting.
/// @group 090-scaffolding
$LOOM-use-scaffolding-classes-font-style: $LOOM-use-scaffolding-classes !default;

@if $LOOM-use-scaffolding-classes-font-style {
  .s-font-style-italic {
    font-style: $LOOM-font-style-italic;
  }

  .s-font-style-normal {
    font-style: $LOOM-font-style-normal;
  }
}
