/// Toggle position class generation.
///
/// By default uses global setting.
/// @group 090-scaffolding
$LOOM-use-scaffolding-classes-position: $LOOM-use-scaffolding-classes !default;

@if $LOOM-use-scaffolding-classes-position {
  .s-position-absolute {
    position: absolute;
  }

  .s-position-relative {
    position: relative;
  }
}
