/// Toggle text-align class generation.
///
/// By default uses global setting.
/// @group 090-scaffolding
$LOOM-use-scaffolding-classes-text-align: $LOOM-use-scaffolding-classes !default;

@if $LOOM-use-scaffolding-classes-text-align {
  .s-text-align-left {
    text-align: left;
  }

  .s-text-align-right {
    text-align: right;
  }

  .s-text-align-center {
    text-align: center;
  }
}
