/// Toggle text-transform class generation.
///
/// By default uses global setting.
/// @group 090-scaffolding
$LOOM-use-scaffolding-classes-text-transform: $LOOM-use-scaffolding-classes !default;

@if $LOOM-use-scaffolding-classes-text-transform {
  .s-text-transform-uppercase {
    text-transform: uppercase;
  }

  .s-text-transform-lowercase {
    text-transform: lowercase;
  }

  .s-text-transform-capitalize {
    text-transform: capitalize;
  }
}
