/// Toggle vertical-align class generation.
///
/// By default uses global setting.
/// @group 090-scaffolding
$LOOM-use-scaffolding-classes-vertical-align: $LOOM-use-scaffolding-classes !default;

/// List of possible vertical-align values
/// @group 090-scaffolding
$LOOM-vertical-align: (
  baseline,
  sub,
  super,
  text-top,
  text-bottom,
  middle,
  top,
  bottom,
);

@if $LOOM-use-scaffolding-classes-vertical-align {
  @each $item in $LOOM-vertical-align {
    .s-vertical-align-#{$item} {
      vertical-align: $item;
    }
  }
}
