/// Toggle white-space class generation.
///
/// By default uses global setting.
/// @group 090-scaffolding
$LOOM-use-scaffolding-classes-white-space: $LOOM-use-scaffolding-classes !default;

@if $LOOM-use-scaffolding-classes-white-space {
  .s-white-space-normal {
    white-space: normal;
  }

  .s-white-space-nowrap {
    white-space: nowrap;
  }

  .s-white-space-pre {
    white-space: pre;
  }

  .s-white-space-pre-wrap {
    white-space: pre-wrap;
  }

  .s-white-space-pre-line {
    white-space: pre-line;
  }
}
