/// TODO Fix this
/// @group 030-mixins
$LOOM-container-padding: get-spacing('default') !default;

/// TODO Fix this
/// @group 030-mixins
$LOOM-container-padding-larger:get-spacing('default') !default;

/// TODO Fix this
/// @group 030-mixins
$LOOM-container-margin: get-spacing('default') !default;

/// TODO Fix this
/// @group 030-mixins
$LOOM-container-breakpoint: get-mqbreakpoint('medium') !default;

/// TODO Fix this
/// @group 030-mixins
$LOOM-container-transition: get-transition('padding') !default;

/// TODO Fix this
/// @group 030-mixins
@mixin container(
  $max-width: $LOOM-single-column-width,
  $padding-horizontal: $LOOM-container-padding,
  $padding-horizontal-large: $LOOM-container-padding-larger,
  $margin-vertical: $LOOM-container-margin,
  $breakpoint-switch: $LOOM-container-breakpoint
) {
  display: block;
  margin-bottom: $margin-vertical;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;
  transition: $LOOM-container-transition;
  width: 100%;

  @include mq($from: $breakpoint-switch) {
    padding-left: $padding-horizontal-large;
    padding-right: $padding-horizontal-large;
  }
}
