/// Removes all padding, margin and list-style-type from a list.
/// @group 030-mixins
@mixin list-reset($list-reset-spacing: true) {
  @if $list-reset-spacing {
    margin: 0;
    padding: 0;
  }

  list-style-type: none;
}
