/*
IMPORTANT - PLEASE READ
Individual modules for Loom are imported via a partial named after the group.
This avoids the long import list that would occur if we were to import each
module individually.

If you wish to have even more fine-grained control over the imports then copy
and paste the contents of each layers importer into the list below, changing
the path as appropiate.
*/

// ----->  Overrides of this layer's Loom variables go above here!
@import 'loom/10-global-settings';
// ----->  Add your own custom global settings below here!

// ----->  Overrides of this layer's Loom variables go above here!
@import 'loom/20-tools';
// ----->  Add your own custom tools below here!

// ----->  Overrides of this layer's Loom variables go above here!
@import 'loom/30-generic';
// ----->  Add your own custom global settings below here!

// ----->  Overrides of this layer's Loom variables go above here!
@import 'loom/40-base-elements';
// ----->  ADD YOUR OWN MODULES BELOW HERE!

// ----->  Overrides of this layer's Loom variables go above here!
@import 'loom/50-layout';
// ----->  ADD YOUR OWN MODULES BELOW HERE!

// ----->  Overrides of this layer's Loom variables go above here!
@import 'loom/60-objects';
// ----->  ADD YOUR OWN MODULES BELOW HERE!

// ----->  Overrides of this layer's Loom variables go above here!
@import 'loom/70-ui-components';
// ----->  ADD YOUR OWN MODULES BELOW HERE!

// ----->  Overrides of this layer's Loom variables go above here!
@import 'loom/80-utilities';
// ----->  ADD YOUR OWN MODULES BELOW HERE!

// ----->  Overrides of this layer's Loom variables go above here!
@import 'loom/90-trumps';
// ----->  ADD YOUR OWN MODULES BELOW HERE!
