/// Retrieve a CSS transition
///
/// @group 020-functions
/// @parameter {string} $property-name - Which property to animate. Defaults to "all".
/// @parameter {time} $duration - How long should the animation take.
/// @parameter {string} $timing-function - What timing/easing function should be used.
/// @parameter {time} $delay - What delay is at the start of the transition.
@function get-transition($property: all, $duration: $LOOM-transition-duration, $timing-function: $LOOM-transition-timing-function, $delay: 0s) {
  @return $property $duration $timing-function $delay;
}
