/// Retrieve a z-index value.
///
/// @group 020-functions
/// @parameter {string} $layer - The name of a layer in $LOOM-z-layers
/// @parameter {map} $z-layers - A map of z-index layers/integer values.
@function get-z($layer, $z-layers: $LOOM-z-layers) {
  @if map-has-key($z-layers, $layer) {
    @return map-get($z-layers, $layer);
  }

  @else {
    @warn "No layer found for `#{$layer}` in the global $z-layers map. Property omitted.";

    @return null;
  }
}
