/// Toggle button class generation.
///
/// By default uses global setting.
/// @group 070-objects
$LOOM-use-object-classes-button: $LOOM-use-object-classes !default;

@if $LOOM-use-object-classes-button {
  .o-button {
    @include button();
  }

  .o-button__label {
    @include button__inner();
  }

  // A round button surrounding an SVG icon.
  .o-button-icon {
    @include button(
      $border-radius: $LOOM-border-radius-circle,
      $padding-horizontal: get-spacing('xsmall'),
      $padding-vertical: get-spacing('xsmall'),
      $line-height: 1
    );
  }
}
