/// Toggle icon class generation.
///
/// By default uses global setting.
/// @group 070-objects
$LOOM-use-object-classes-icon: $LOOM-use-object-classes !default;

@mixin icon($icon-font-size: 1em) {
  $size: null;

  @if (is-number($icon-font-size)) {
    $size: $icon-font-size;
  } @else { // stylelint-disable-line
    $size: get-icon-size($icon-font-size);
  }

  color: inherit;
  display: inline-block;
  fill: currentColor;
  font-size: $size;
  height: 1em;
  outline: none;
  vertical-align: middle;
  width: 1em;
}

@if $LOOM-use-object-classes-icon {
  .o-icon {
    @include icon();
  }
}
