$LOOM-grid-gutter-value: $LOOM-grid-gutter !default;

.l-grid {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$LOOM-grid-gutter-value;
  margin-right: -$LOOM-grid-gutter-value;
}

.l-grid--reverse {
  flex-direction: row-reverse;
}

.l-grid--align-items-center {
  align-items: center;
}

.l-grid__item {
  padding-left: $LOOM-grid-gutter-value;
  padding-right: $LOOM-grid-gutter-value;
  width: 100%;
}

@include grid-columns($LOOM-grid-columns);

@if variable-exists(LOOM-grid-breakpoints) {
  @each $grid-breakpoint-alias in $LOOM-grid-breakpoints {
    $breakpoint-condition: map-get($LOOM-mq-breakpoints, $grid-breakpoint-alias);

    @if ($breakpoint-condition) {
      @include mq($from: $grid-breakpoint-alias) {
        @each $i in $LOOM-grid-columns-responsive {
          @include grid-columns($i, \@#{$grid-breakpoint-alias});
        }
      }
    } @else { // stylelint-disable-line
      @error "It looks like ‘#{$grid-breakpoint-alias}’ does not exist in $LOOM-grid-breakpoints.";
    }
  }
}
