/// The default global font stack for your site.
/// Each font stack has a default and a webfont version.
///
/// Fonts are called using get-font-family().
///
/// @group 10-global-settings
/// @type map
/// @example scss - Get fonts example
///   .class {
///     font-family: get-font-family(primary);
///   }
$LOOM-font-list: (
  'primary': (
    'default': sans-serif,
    'webfont': sans-serif
  ),
  'secondary': (
    'default': serif,
    'webfont': serif
  )
) !default;

/// Use your own font map as the default global font list for use by the get-font-family() function.
///
/// @group 10-global-settings
$LOOM-fonts: $LOOM-font-list !default;

/// The classname name to use to place loaded webfonts behind.
///
/// If set to 'false' webfont strategies in Loom will be disabled.
///
/// @group 10-global-settings
/// @type string | boolean
/// @link https://fontfaceobserver.com/ See examples of how to use with Fontfaceobserver
$LOOM-fonts-loaded: 'fonts-loaded' !default;

// --- FONT WEIGHTS AND STYLES ---
// NOTE: These are abstracted so that we may easily switch between keywords and numbers as a project demands.

/// Set the default bold weight value
///
/// @group 10-global-settings
/// @type string
$LOOM-font-weight-bold: bold !default;

/// Set the default normal weight value
///
/// @group 10-global-settings
/// @type string
$LOOM-font-weight-normal: normal !default;

/// Set the default italic style value
///
/// @group 10-global-settings
/// @type string
$LOOM-font-style-italic: italic !default;

/// Set the default normal style value
///
/// @group 10-global-settings
/// @type string
$LOOM-font-style-normal: normal !default;

/// Set the default line-height.
///
/// @group 10-global-settings
/// @type number
$LOOM-line-height: 1.5 !default;

/// Defines the font sizes to be used in your site.
/// Each font size has a small and a large version,
/// as generally fonts need to be slightly large on mobile devices.
///
/// Fonts are called using get-font-size().
///
/// @group 10-global-settings
/// @type map
$LOOM-font-sizes: (
  'default':   (
    'small': ('font-size': 18px, 'line-height': 1.5),
    'large': ('font-size': 16px, 'line-height': 1.5)
  ),
  'alpha':   (
    'small': ('font-size': 36px, 'line-height': 1.5),
    'large': ('font-size': 32px, 'line-height': 1.5)
  ),
  'beta':   (
    'small': ('font-size': 30px, 'line-height': 1.5),
    'large': ('font-size': 28px, 'line-height': 1.5)
  ),
  'gamma':   (
    'small': ('font-size': 26px, 'line-height': 1.5),
    'large': ('font-size': 24px, 'line-height': 1.5)
  ),
  'delta':   (
    'small': ('font-size': 22px, 'line-height': 1.5),
    'large': ('font-size': 20px, 'line-height': 1.5)
  ),
  'epsilon':   (
    'small': ('font-size': 20px, 'line-height': 1.5),
    'large': ('font-size': 18px, 'line-height': 1.5)
  ),
  'zeta':   (
    'small': ('font-size': 18px, 'line-height': 1.5),
    'large': ('font-size': 16px, 'line-height': 1.5)
  )
) !default;

/// Sizes that are applied to base HTML element headings
///
/// @group 10-global-settings
/// @type map
$LOOM-h-element-sizes: (
  'h1': 'alpha',
  'h2': 'beta',
  'h3': 'gamma',
  'h4': 'delta',
  'h5': 'epsilon',
  'h6': 'zeta'
) !default;

/// If set to TRUE, base headings will receive default sizes and will appear as "traditional" headings. If FALSE, base headings will receive the same sizing and styling as the body text.
///
/// @group 10-global-settings
/// @type boolean
$LOOM-generate-sizes-for-default-headings: true !default;

/// If this list is defined, the following sizes will be generated as object classes (`.o-alpha {}`).
///
/// Objects be also consumed directly with '@include font-size($name)';
///
/// @group 10-global-settings
/// @type list
$LOOM-h-object-sizes: (
  'alpha',
  'beta',
  'gamma',
  'delta',
  'epsilon',
  'zeta'
) !default;

/// At what breakpoint does the typography switch from fonts sizes appropiate
/// for smaller devices to font sizes appropiate for larger devices?
///
/// Must match one of the breakpoints in $LOOM-mq-breakpoints.
///
/// @group 10-global-settings
/// @type boolean
/// @see $LOOM-mq-breakpoints
$LOOM-typography-breakpoint: medium !default;

/// Default value for when primary base fonts are called.
///
/// Intended to be overriden by user choices.
///
/// @group 10-global-settings
/// @access private
$LOOM-font-family-primary-default: sans-serif !default;

/// Default value for when primary web fonts are called.
///
/// Intended to be overriden by user choices.
///
/// @group 10-global-settings
/// @access private
$LOOM-font-family-primary-webfont: sans-serif !default;

/// Default value for when secondary base fonts are called.
///
/// Intended to be overriden by user choices.
///
/// @group 10-global-settings
/// @access private
$LOOM-font-family-seconday-default: serif !default;

/// Default value for when secondary web fonts are called.
///
/// Intended to be overriden by user choices.
///
/// @group 10-global-settings
/// @access private
$LOOM-font-family-seconday-webfont: serif !default;

/// Default base font size, small screen devices.
///
/// Intended to be overridden by user choices.
/// @group 10-global-settings
$LOOM-font-size-on-smaller-screens: 18px;

/// Default font size, large screen devices.
///
/// Intended to be overridden by user choices.
/// @group 10-global-settings
$LOOM-font-size-on-larger-screens: 16px;
